@mixin centered-flex() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin card-style() {
    border: 1px solid #de6325b0;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    background-color: #b8d5fb28;
    transition: all 1s ease-out;
    box-shadow: 6px 6px 6px #a8a8a85e, 
                6px 6px 6px #de63258e,
                -1px -1px 10px #a8a8a85e, 
                -1px -1px 10px #de63258e,
                1px -1px 1px #a8a8a85e, 
                -1px 1px 1px #de63258e,
                -1px 1px 1px #a8a8a85e, 
                1px -1px 1px #de63258e;
}

@mixin hero_link() {
    font-family: $p-text;
    text-decoration: none;
    color: $flame;
    padding: 80px;
    font-size: 20px;
    transition: all 1s ease-out;
}

@mixin hero_link_hover() {
    font-weight: 800;
    font-size: 50px;
    opacity: 0.9;
    text-shadow: 0.2rem 0.2rem 0.1rem #fbe1e1, 
                 0.2rem 0.2rem 0.1rem rgb(255, 255, 255);
}

@mixin position_sticky() {
    position: sticky;
    top: 30%;
    margin-top: 30%;
    margin-bottom: 30%;
}

@mixin navbar() {
    flex-basis: 30rem;
    flex-shrink: 0;
    margin-left: 10rem;
        
    .navigation_menu {
        display: inline-block;
            
        li {
            height: 6rem;
            width: 6rem;
            list-style: none;
            @include centered-flex;
            border: 2px solid #f6ede8b0;
            border-radius: 5px;
            backdrop-filter: blur(3px);
            background-color: #ffffff86;
            margin-top: 5px;
            box-shadow: 2px 2px 5px #a8a8a85e, 
                        2px 2px 5px #ffffff8e;
              
            span {
                position: absolute;
                left: 5.8rem;
                overflow: hidden;
                line-height: 5.2rem;
                margin-left: 1px;
                padding: 0;
                width: 0;
                background-color: #ffffff86;
                color: $flame;
                font-size: 2.5rem;
                font-weight: 800;
                border-top: 1px solid #f6ede8b0;
                border-bottom: 1px solid #f6ede8b0;
            }

            a {
                text-decoration: none;
                width: 5.8rem;
                height: 5.8rem;
                padding: 1.5rem;
                @include centered-flex;
                transition: 0.3s ease-out;

                i {
                    font-size: 3rem;
                    color: $flame;
                    text-shadow: 1px 1px 1px #dfdfdf;
                }

                &:hover span {
                    display: block;
                    width: auto;
                    padding: 0 2rem;
                    transition: 0.3s;
                    border-right: 1px solid #f6ede8b0;
                    border-bottom-right-radius: 5px;
                    border-top-right-radius: 5px;
                    box-shadow: 2px 2px 5px #a8a8a85e, 
                                2px 2px 5px #ffffff8e;
                }
            }
        }  
    }
}