/* SCSS HEX */
$blue-ryb: #4645ffff;
$french-sky-blue: #70aafeff;
$myrtle-green: #36645fff;
$bistre: #3a2112ff;
$flame: #de6325ff;
$whitish: #efefef;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4645ffff, #70aafeff, #36645fff, #3a2112ff, #de6325ff);
$gradient-right: linear-gradient(90deg, #4645ffff, #70aafeff, #36645fff, #3a2112ff, #de6325ff);
$gradient-bottom: linear-gradient(180deg, #4645ffff, #70aafeff, #36645fff, #3a2112ff, #de6325ff);
$gradient-left: linear-gradient(270deg, #4645ffff, #70aafeff, #36645fff, #3a2112ff, #de6325ff);
$gradient-top-right: linear-gradient(45deg, #4645ffff, #70aafeff, #36645fff, #3a2112ff, #de6325ff);
$gradient-bottom-right: linear-gradient(135deg, #4645ffff, #70aafeff, #36645fff, #3a2112ff, #de6325ff);
$gradient-top-left: linear-gradient(225deg, #4645ffff, #70aafeff, #36645fff, #3a2112ff, #de6325ff);
$gradient-bottom-left: linear-gradient(315deg, #4645ffff, #70aafeff, #36645fff, #3a2112ff, #de6325ff);
$gradient-radial: radial-gradient(#4645ffff, #70aafeff, #36645fff, #3a2112ff, #de6325ff);
$gradient-bg-left: linear-gradient(90deg, #9da3eb15, #211837e8);
$gradient-bg-right: linear-gradient(90deg, #211837, #9da3eb15);
$gradient-main-content: linear-gradient(0deg, rgba(112,170,254,1) 24%, rgba(50,90,188,1) 90%);


// Headlines  |  Text FONTS
$h-text: jura;
$p-text: play;