@import "_maps";
@import "_mixins";
@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Play:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: #333;
    font-family: $p-text;
}

.hero {
    display: flex;
}

.bg-left {
    width: 50%;
    height: 100vh;
    background: $gradient-bg-left, url(../assets/1621516705674.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    width: 5%;
    color: $flame;
    font-size: 80px;
    font-family: $h-text;
    
    span {
        color: $french-sky-blue;
    }
}

.slide-tl {
    position: relative;
    top: 30%;
    left: 0;
    animation: slide-tl 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-tl {
    0% {
        transform: translateY(0%) translateX(100%);
        opacity: 0;
        font-size: 10px;
    }
    100% {
        transform: translateY(0%) translateX(1400%);
        opacity: 1;
        font-size: 80px;
    }
  }

.bg-right {
    width: 50%;
    height: 100vh;
    background: $gradient-bg-right, url(../assets/background-hero-right.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr) 2fr;
    gap: 0.5rem;
}

.task-1 {
    grid-area: 1 / 4 / 3 / 1;
    animation: 1s ease-in-out both running slidein-1;
    // border: 2px solid green;
    .about {
        width: 100%;
        height: 100%;
        @include centered-flex();
        transition: all 1s ease-out;

        &:hover {
            width: 300px;
            height: 40%;
            @include card-style();
            transform: rotate(5deg) translateX(0%) translateY(100%);
        }
    
        a {
            @include hero_link();
        
            &:hover {
                @include hero_link_hover
            }
        }

    }
}

@keyframes slidein-1 {
    from {
        margin-bottom: 100%;
        height: 0;
        background-color: #70aafe;
    }

    to {
        margin-bottom: 0%;
        height: 100%;
        background-color: transparent;
       }
    }

.task-2 {
    grid-area: 1 / 8 / 2 / 4;
    animation: 1s ease-in-out both running slidein-2;
    // border: 2px solid red;
    
    .skills {
        width: 100%;
        height: 100%;
        @include centered-flex();
        transition: all 1s ease-out;

        &:hover {
            width: 300px;
            height: 80%;
            @include card-style();
            transform: rotate(-2deg) translateX(-20%) translateY(50%);
        }
    
        a {
            @include hero_link();
        
            &:hover {
                @include hero_link_hover
            }
        }

    }
}

@keyframes slidein-2 {
    from {
        margin-left: 100%;
        width: 0%;
        background-color: #70aafe;
    }

    to {
        margin-left: 0%;
        width: 100%;
       }
    }

.task-3 {
    grid-area: 2 / 8 / 3 / 4;
    animation: 1s ease-in-out both running slidein-3;
    // border: 2px solid blue;
    .projects {
        width: 100%;
        height: 100%;
        @include centered-flex();
        transition: all 1s ease-out;

        &:hover {
            width: 300px;
            height: 80%;
            @include card-style();
            transform: rotate(-3deg) translateX(0%) translateY(10%);
        }
    
        a {
            @include hero_link();
        
            &:hover {
                @include hero_link_hover
            }
        }

    }
}

@keyframes slidein-3 {
    from {
        margin-left: 100%;
        width: 0%;
        background-color: #70aafe;
    }

    to {
        margin-left: 0%;
        width: 100%;
       }
    }

.task-4 {
    grid-area: 3 / 6 / 4 / 1;
    animation: 1s ease-in-out both running slidein-4;
    // border: 2px solid $flame;
    .resume {
        width: 100%;
        height: 100%;
        @include centered-flex();
        transition: all 1s ease-out;

        &:hover {
            width: 300px;
            height: 40%;
            @include card-style();
            transform: rotate(2deg) translateX(20%) translateY(10%);
        }
    
        a {
            @include hero_link();
        
            &:hover {
                @include hero_link_hover
            }
        }

    }
}

@keyframes slidein-4 {
    from {// z-index: 3;
        margin-right: 100%;
        width: 0;
        background-color: #70aafe;
    }

    to {
        margin-right: 0%;
        width: 100%;
       }
    }

.task-5 {
    grid-area: -2 / 8 / -1 / 6;
    animation: 1s ease-in-out both running slidein-5;
    // border: 2px solid deeppink;
    .contact {
        width: 100%;
        height: 100%;
        @include centered-flex();
        transition: all 1s ease-out;

        &:hover {
            width: 300px;
            height: 40%;
            @include card-style();
            transform: rotate(-3deg) translateX(-60%) translateY(35%);
        }
    
        a {
            @include hero_link();
        
            &:hover {
                @include hero_link_hover
            }
        }

    }

}

@keyframes slidein-5 {
    from {
        margin-top: 180%;
        height: 0;
        background-color: #70aafe;
    }

    to {
        margin-top: 0%;
        height: 100%;
       }
}




  
  